<div class="signupArea">
    <h1>
        Sign Up Form
    </h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <label>
                    Name:
                    <input matInput type="text" formControlName="name">
                </label>
            </mat-form-field>
            <div class="info" *ngIf="signUpForm.get('name').touched && signUpForm.get('name').invalid">
                <div *ngIf="signUpForm.get('name').errors.required"> Name is required</div>
            </div>
        </div>
        <div>
            <mat-form-field>
                <label>
                    Email:
                    <input matInput type="email" formControlName="email">
                </label>
            </mat-form-field>
            <div class="info" *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid">
                <div *ngIf="signUpForm.get('email').errors.required">Email Name is required</div>
                <div *ngIf="signUpForm.get('email').errors.email">Email must be a valid email Address</div>
            </div>
        </div>
        <div>
            <mat-form-field>
                <label>
                    Password:
                    <input matInput type="password" formControlName="password">
                </label>
            </mat-form-field>
            <div class="info" *ngIf="signUpForm.get('password').touched && signUpForm.get('password').invalid">
                <div *ngIf="signUpForm.get('password').errors.required">Password is required</div>
                <div *ngIf="signUpForm.get('password').errors.minlength">Password must be a letaset 8 charector</div>
                <div *ngIf="isPasswordUppercaseLetterNeeded()">Password must include a uppercase letter</div>
                <div *ngIf="isPasswordNumberNeeded()">Password must include a number</div>
                <div *ngIf="isPasswordSpecialCharNeeded()">Password must include a special character</div>

            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!signUpForm.valid">Register</button>
            </div>
        </div>
    </form>
</div>